<div id="created_container">
  <div class="created_container_header">
    <p class="site1_title">
       <b>
         <%= @location.name %>
       </b>
    </p>
    <p class="site1_desc">
      <b>
        <%= @location.description %>
     	</b>
    </p>
  </div>
  <hr>
  <br>
  <div class="site-1">
  	<%= @checkin.name %> <br>
  	<%= @checkin.comment %><br> 
  	<% if @checkin.photo.present? %>
  		<%= image_tag @checkin.photo.url(:medium) %><br>
  	<% end %>
  </div>
</div>

<!-- this does not do anything -->