<div id="created_container">
  <p class="site1_title">
     <b>
       <%= @location.name %>
     </b>
  </p>
  <p class="site1_desc">
    <b>
      <%= @location.description %>
   	</b>
  </p>
  <hr>
  <br>
	<%= @checkin.name %> <br>
	<%= @checkin.comment %><br> 
		<%= image_tag @checkin.photo.url(:medium) %><br>

</div>

