<div class="content_header">
  <p class="site1_title">
    <b>
      <%= @location.name %>
    </b>
  </p>
  <p class="site1_desc">
    <b>
      <%= @location.description %>
    </b>
  </p>
  <hr/>
</div>

<div id="site-1">
  <%= render 'form' %>
  <br>
  <% @location.checkins.each do |f| %> 
    <b><%= f.name %><b><br>
       <%= f.comment %><br>
        <% if f.photo.present? %>
         <%= image_tag f.photo.url(:medium) %><br>
        <% end %>
    <br>
  <% end %>
</div>
 
 <!-- THIS IS THE SAME AS _form_container.html.erb -->