<br><br><br>
  <p>All the checkins.</p>
  <p>Like, all of them.</p>
  <br>

<div class="allCheckins_filter">

  <div id="locations_links">
    <a href="#" data-filter=".all" class="current">See all the checkins</a><br>
    <% @locations.each do |location| %>
      <a href="#" data-filter=".<%= (location.name.gsub(/\s+/,"")).downcase %>"><%= location.name %> </a>
    <% end %>
  </div>

</div>

<div class="allCheckins">
  <% @all_checkins.each do |checkin| %> 
  <div id="test" class= 'all'>
    <%= checkin.name %>
    <%= simple_format(checkin.comment) %>
    <% if checkin.photo.present? %>
      <%= image_tag checkin.photo.url(:medium), :style => "" %><br>
    <% end %>
  </div>
  <%end%>
  

	<% @all_checkins.each do |checkin| %> 
		<div id="test" class="<%= (checkin.location.name.gsub(/\s+/,"")).downcase %>">
	 		<%= checkin.name %>
	 	  <%= simple_format(checkin.comment) %>
    	<% if checkin.photo.present? %>
     		<%= image_tag checkin.photo.url(:medium) %><br>
    	<% end %>
 		</div>  
  <% end %> <!-- ends checkin loop -->
    	
</div>

<a href="/">Go back to main map</a>